

<link rel="stylesheet" media="screen" href="https://cdn.freshbots.ai/assets/share/css/chat-combined.min.css?v=0.26"> 
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<style>
  

  #tabs-nav li a {
  text-decoration: none;

  }
  .wholescale--has-search .wholescale--form-control-feedback{
    line-height: 1.7rem !important; 
  }
  #review_form_save, #question_form_save{
    background: black;
    padding: 12px;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
textarea, select {
    box-sizing: border-box;
    width: 100%;
    background: transparent;
    border: 1px solid gray;
    border-radius: 0;
    margin: 0 0 10px !important;
    max-width: 100%;
    outline: none;
    line-height: 50px;
    padding-left: 10px;
}
input[type=text], input[type=password], input[type=email], input[type=url], input[type=number], input[type=search], select{
    box-sizing: border-box;
    width: 100%;
    background: transparent;
    border: 1px solid gray !important;
    border-radius: 0 !important;
    margin: 0 0 10px !important;
    max-width: 100% !important;
    text-indent: 10px;
    outline: none;
    height: 50px !important;
    line-height: 50px !important;
 
}
 #wholescale--tabs-nav a{
        text-decoration: none;

 }
  .tab-review{
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
/*   #wholescale--tabs-nav a i{
    color: #000000 !important;
  } */
  #starsField{
    line-height: 30px !important;
  }
  .reviews_nodata{
    display: none;
  }
  .questions_nodata{
    display: none;
  }
   .reviewqts{
    margin: 10px 40px;
    }
  .threeinputs{
    display: flex;
    justify-content: space-between;
  }
  .wholinput{
    width: 30%;
  }
  .ratinglab{
    width: 48% !important;
  }
  .titlelab{
    width: 50%;
    float: right;
    display: block;
    margin-left: auto;
  }
  
  .ratingtitle{
    display: flex !important;
  }
   select#starsField{
        height: 32px !important;
    min-height: 32px !important;
  }
  #reviewFormStars{
    display:block !important;
    width: 100%;
  }
  div#wholescale--tabs-contents {
    margin: 10px 40px;
}
  .wholescale--form-review ul {
    margin-right: 40px !important;
}
  input#searchField{
      height: 32px !important;
    min-height: 32px !important;
  }
  .wholescale--form-review {
    padding: 0px 0 !important;
}
  .wholescale--user-text h4, .wholescale--user-text p {
    margin: 0px 0px 10px 0px !important;
 
}


    @media only screen and (max-width: 768px){
      .ratinglab{
    width: 100% !important;
  }
  .titlelab{
    width: 100%;
    float: right;
    display: block;
    margin-left: auto;
  }
  
  .ratingtitle{
    display: block !important;
  }
       .threeinputs{
    display: block;
  }
  .wholinput{
    width: 100%;
  }
    }
  @media only screen and (max-width: 400px){
    .wholescale--user-text p {
    font-size: 14px !important;
}
    .wholescale--verified_buyer {
    margin-top: -90px !important;
}
  }
    @media only screen and (max-width: 550px){
    .wholescale--form-review ul{
      display: block !important;
      padding-left: 10px !important;
    padding-right: 10px !important;
    margin-right: 0px !important;
    }
      #wholescale--tabs-nav a{
        margin-bottom: 10px !important;
      }
      .tab-review {
    padding-left: 3px !important;
    padding-right: 3px !important;
}
      .wholescale--has-search .wholescale--form-control{
            padding-left: 1.375rem !important;
      }
      .wholescale--main-section{
        padding: 0px !important;
      }
      .shop.d{
        margin-bottom: 20px;
      }
 .ws--review-container > .ws--star-under{
    font-size: 14px !important;
}
i.ws--star.ws--star-over.fa1.fa-star.ws--star-visible {
    font-size: 14px !important;
}
  }
  
  
  .wholescale--tab-content {
    margin: 15px;
}
   select#starsField{
        height: 32px !important;
    min-height: 32px !important;
  }
  input#searchField{
      height: 32px !important;
    min-height: 32px !important;
  }
  .wholescale--form-review {
     padding: 0px !important;
}
  .wholescale--user-text h4, .wholescale--user-text p {
    font-weight: 500!important;
}
.wholescale--verified_buyer {
    font-weight: 500!important;
}
.shop.d span {
    font-size: 13px !important;
}
.fa-star, .fa-star-o, .fa-star-half-o {
    color: #e7721b;
    font-size: 18px !important;
}
.wholescale--title_comment {
    font-size: 14px !important;
}





.reviews_heading {
  text-align: center !important;
  margin-bottom: 0px !important;
}
#total_reviews_p p{
  text-align: center !important;
}

</style>
<hr id="gotoReviews"/>
<div id="total_reviews_p"><h1 class="reviews_heading" style = "text-align: center !important;">Reviews</h1>
    <p>Total Reviews {{ product.metafields.whol.product_reviews }}</p>
</div>
{% comment %}
<div id="total_reviews_empty2" style="display:none">
    <div class="start-part">
        <i aria-hidden="true" class="fa fa-star-o"></i>
        <i aria-hidden="true" class="fa fa-star-o"></i>
        <i aria-hidden="true" class="fa fa-star-o"></i>
        <i aria-hidden="true" class="fa fa-star-o"></i>
        <i aria-hidden="true" class="fa fa-star-o"></i>
        <span>&nbsp; 0 Reviews</span>
    </div>
</div>
<p id="wholescale--review-overview" style="text-align: center !important; display: none;">
    <span id="wholescale--review-overview-stars">&starf;</span>&nbsp;
    <span id="wholescale--review-overview-count">80</span> Review(s)
</p>
{% endcomment %}
<!-- <div id='ajaxReviewsHeader'></div> -->

<!-- Question and Ask Review Section Starts here -->
<div class="wholescale--write-a-review">
  <div class="wholescale--form-review">
    <ul id="wholescale--tabs-nav">
      <li><a href="#write-a-review"><i class="fas fa-solid fa-pen"></i>Write A Review</a></li>
      <li><a href="#ask-a-question"><i class="fas fa-solid fa-message"></i>Ask A Question</a></li>
    </ul> 
    <div id="wholescale--tabs-contents">  
      <div id="write-a-review" class="wholescale--tab-content" style="display:none;"> 
        <div class="wholescale--write-heading">
          <h3>Write A Review</h3><span><i>*</i> Indicates a required field</span>
        </div>  
        <div class="wholescale--write-review-form">
          <form id="wholescale--form-write" action="">
             <input type="hidden" name="product" id="reviewFormProduct"/>
            <input type="hidden" name="customer" id="reviewFormCustomer" value ="2343455423"/>
             <input type="hidden" name="black_box" id="ioBlackBox"/>
            <input type="hidden" class="ip_address" name="ip_address"/>
              <div class = "ratingtitle">
              <div id="stars" class="wholescale-field ratinglab">
                  <label for="stars">Rating*</label>
                  <select name="stars" id="reviewFormStars" required="required" class="select" id = "starsField">
                    <option value="">Select Rating</option>
                    <option value="5">&starf;&starf;&starf;&starf;&starf;</option>
                    <option value="4">&starf;&starf;&starf;&starf;</option>
                    <option value="3">&starf;&starf;&starf;</option>
                    <option value="2">&starf;&starf;</option>
                    <option value="1">&starf;</option>
                  </select>
              </div>
              <div class="wholescale-field titlelab">
                <label>Title <span>*</span></label>  
                <input name="title" id="reviewFormTitle" placeholder="" class="form-control" type="text" required="required">
              </div>
            </div>
             <div class="wholescale-field">
                <label>Review <span>*</span></label>  
                <textarea name="description" id="reviewFormDescription" placeholder="" class="form-control" required="required"> </textarea>
              </div>
             
        {% if customer %}
          
          {% else %}
            <div class = "threeinputs">
            <div class="wholescale-field wholinput">
                <label>First Name <span>*</span></label>  
                <input name="first_name" id="reviewFormFirstName" placeholder="" class="form-control" type="text" required="required">
              </div>
             <div class="wholescale-field wholinput">
                <label>Last Name <span>*</span></label>  
                <input name="last_name" id="reviewFormLastName" placeholder="" class="form-control" type="text" required="required">
              </div>
             <div class="wholescale-field wholinput">
                <label>Email <span>*</span></label>  
                <input name="email" id="reviewFormEmail" placeholder="" class="form-control" type="email" required="required">
              </div>
            </div>
          {% endif %}
              
             <div class="wholescale-button-form">
                <input type="submit" id="review_form_save" class="wholescale-submit" value="Post">
                <p id="write_a_review_success" style="display: none; float: right;">Your review is posted successfully!</p>
             </div>
             <div class="question-alert question-info" style="display: none; margin-top: 10px !important;">
                <strong>Error!</strong>
                <span class="review-info-message"></span>
              </div>
           </form>
        </div>
      </div>
      <div id="ask-a-question" class="wholescale--tab-content" style="display:none;">
        <style>
          .question-alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
            opacity: 1;
            transition: opacity 0.6s;
            margin-bottom: 15px;
          }
          .wholescale--helpful-icon {
                cursor: pointer;
            }
          .question-alert.question-info {background-color: #B1B1B1;}
          .wholescale--user-info {display: grid;grid-template-columns: 1fr 1fr;gap: 25px;}
          @media (max-width:480px){
            .wholescale--user-info {grid-template-columns: 1fr;gap: 0px;}
            }
        </style>
        <div class="wholescale--write-heading">
          <h3>Ask A Question</h3><span><i>*</i> Indicates a required field</span>
        </div>  
        <div class="wholescale--write-review-form">
           <form id="wholescale-question--form-write" action="#">
              <div class="wholescale-field">
                <label>Question <span>*</span></label>  
                <textarea name="question_content" id="questionContent" placeholder="" class="form-control" required="required"></textarea>
              </div>
             <div class="wholescale-field">
                <label>Email <span>*</span></label>  
                <input name="email" id="questionEmail" placeholder="" class="form-control" type="text" required="required">
              </div>
             <div class="wholescale--user-info">
              <div class="wholescale-field">
                <label>First Name <span>*</span></label>  
                <input name="first_name" id="questionFirstName" placeholder="" class="form-control" type="text" required="required">
              </div>
             <div class="wholescale-field">
                <label>Last Name <span>*</span></label>  
                <input name="last_name" id="questionLastName" placeholder="" class="form-control" type="text" required="required">
              </div>
             </div>
             <div class="wholescale-button-form">
                <input type="submit" id="question_form_save" class="wholescale-submit" value="Post">
               <p id="question_success" style="display: none; float: right;">Your question is posted successfully!</p>
             </div>
             <div class="question-alert question-info" style="display: none; margin-top: 10px !important;">
                <strong>Error!</strong>
                <span class="question-info-message"></span>
              </div>
           </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Question and Ask Review Section Ends here -->

<div id="wholescale--review-app"></div>
<div class="lds-facebook" style="display:none">
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="tab-review">
    <ul id="tabs-nav">
        <li><a href="#reviews">Reviews</a></li>
        <li><a href="#questions">Questions</a></li>
    </ul>
    <div id="tabs-content">
        <div id="reviews" class="tab-content">
            <div id="revewsHTML"></div>
        </div>

      <script>
        setInterval(
  function AjaxInit() {
    var search_val = $('#searchField').val();
var selected_val = $('#starsField').find('option:first-child').val();
    var url
$(".fw-filter").change(function(){
  $(this).addClass('abc');
 selected_val = $(this).val();
// alert(selected_val);
  // console.log(selected_val);
       url = dvlp_app_url + "/api/reviews?domain="+domain+"&product_id=" + product_id + "&page="+page+ "&stars=" + selected_val + "&search=";
});

$("#submitSearch").click(function(){
    search_val = $('#searchField').val();
  // alert(search_val);
  url = dvlp_app_url + "/api/reviews?domain="+domain+"&product_id=" + product_id + "&page="+page+ "&stars=" + selected_val + "&search=" + search_val;
 console.log('url_n', url);
//   console.log(selected_val);
        $.ajax({
            url: url,
            type: 'GET',
         data: {
             domain: domain,
             product_id:  product_id,
             page: page
           },
            dataType: 'json', // added data type
            success: function(res) {
               console.log("res", res);
              $('.lds-facebook').hide();

        $('#revewsHTML').html(res.content);
              {% comment %} console.log('res.content' , res.content); {% endcomment %}
            }
        });
  });
    $("#clearAllFields").click(function(){
    search_val = $('#searchField').val();
  url = dvlp_app_url + "/api/reviews?domain="+domain+"&product_id=" + product_id + "&page="+page+ "&stars=" + selected_val + "&search=" + search_val;
 console.log('url_n', url);
//   console.log(selected_val);
        $.ajax({
          headers: {
                "ngrok-skip-browser-warning": "69420",
            },
            url: url,
            type: 'GET',
          data: {
            domain: domain,
            product_id:  product_id,
            page: page
          },
            dataType: 'json', // added data type
            success: function(res) {
              // console.log("res", res);
              $('.lds-facebook').hide();

        $('#revewsHTML').html(res.content);
               console.log('res.content-----' , res.content);
            }
        });
  });
  }, 2000);
</script>
      
      
        <div id="questions" class="tab-content">
            
        </div>
    </div>
</div>

<div id="total_reviews_empty" style="display:none">

    <div class="start-part">
        <i aria-hidden="true" class="fa fa-star-o"></i>
        <i aria-hidden="true" class="fa fa-star-o"></i>
        <i aria-hidden="true" class="fa fa-star-o"></i>
        <i aria-hidden="true" class="fa fa-star-o"></i>
        <i aria-hidden="true" class="fa fa-star-o"></i>
        <span>&nbsp; <a href="#gotoReviews">0 Reviews</a></span>
    </div>

</div>

<!-- Questions Part Starts Here -->
<script>


    //var app_question_url = "https://d8a5-182-185-207-164.ngrok.io";
    var app_question_url = "https://201b-103-162-136-121.ngrok-free.app";
    var question_domain = '{{shop.domain}}';
    var question_product_id = '{{product.id}}';
    
    var question_page = 1;

    function getQuestions(url) {
        $('.lds-facebook').show();
        $.ajax({
          headers: {
                "ngrok-skip-browser-warning": "69420",
            },
            url: url,
            type: 'GET',
//           data: {
//             domain: question_domain,
//             product_id:  question_product_id,
//             page: question_page
//           },
            dataType: 'json', // added data type
            success: function (res) {
                $('.lds-facebook').hide();
                $('#questions').html(res.content);
            }
        });
    }

    function thumbsUpIncrease(focus_id, question) {
        if($('#thumbsdown-operation-' + focus_id).val() == '1') {
          $('#thumbsdown-operation-' + focus_id).val('0');
          thumbsDownDecrease(focus_id, question)
        }
        
        $.ajax({
            url: app_question_url + '/api/thumbs-up-increase',
            type: 'POST',
            data: {
              domain: question_domain,
              question:  question,
            },
            success: function (res) {
              if(res.status == '1') {
                $('#thumbsup-vote-' + focus_id).html(res.thumbs_up);
                $('#thumbsdown-vote-' + focus_id).html(res.thumbs_down);
                $('#thumbsup-increase-' + focus_id).hide();
                $('#thumbsup-decrease-' + focus_id).show();
                $('#thumbsup-operation-' + focus_id).val('1')
              }
            }
        });
      }

    function thumbsUpDecrease(focus_id, question) {
          $.ajax({
              url: app_question_url + '/api/thumbs-up-decrease',
              type: 'POST',
              data: {
                domain: question_domain,
                question:  question,
              },
              success: function (res) {
                if(res.status == '1') {
                  $('#thumbsup-vote-' + focus_id).html(res.thumbs_up);
                  $('#thumbsdown-vote-' + focus_id).html(res.thumbs_down);
                  $('#thumbsup-increase-' + focus_id).show();
                  $('#thumbsup-decrease-' + focus_id).hide();
                  if($('#thumbsup-operation-' + focus_id).val() == '1') {
                    $('#thumbsup-operation-' + focus_id).val('0');
                  }
                }
              }
          });
      }

    function thumbsDownIncrease(focus_id, question) {
          if($('#thumbsup-operation-' + focus_id).val() == '1') {
            $('#thumbsup-operation-' + focus_id).val('0');
            thumbsUpDecrease(focus_id, question)
          }
    
          $.ajax({
              url: app_question_url + '/api/thumbs-down-increase',
              type: 'POST',
              data: {
                domain: question_domain,
                question:  question,
              },
              success: function (res) {
                if(res.status == '1') {
                  $('#thumbsup-vote-' + focus_id).html(res.thumbs_up);
                  $('#thumbsdown-vote-' + focus_id).html(res.thumbs_down);
                  $('#thumbsdown-increase-' + focus_id).hide();
                  $('#thumbsdown-decrease-' + focus_id).show();
                  $('#thumbsdown-operation-' + focus_id).val('1');
                }
              }
          });
      }

      function thumbsDownDecrease(focus_id, question) {
          $.ajax({
              url: app_question_url + '/api/thumbs-down-decrease',
              type: 'POST',
              data: {
                domain: question_domain,
                question:  question,
              },
              success: function (res) {
                if(res.status == '1') {
                  $('#thumbsup-vote-' + focus_id).html(res.thumbs_up);
                  $('#thumbsdown-vote-' + focus_id).html(res.thumbs_down);
                  $('#thumbsdown-increase-' + focus_id).show();
                  $('#thumbsdown-decrease-' + focus_id).hide();
                  if($('#thumbsdown-operation-' + focus_id).val() == '1') {
                    $('#thumbsdown-operation-' + focus_id).val('0');
                  }
                }
              }
          });
      }


    var question_url = app_question_url + "/api/questions?domain=" + question_domain + "&product_id=" + question_product_id + "&page=" + question_page;
    getQuestions(question_url);

    $(document).ready(function(){
      $('#wholescale-question--form-write').submit(function(event){
        event.preventDefault();
        $('.question-info').hide();
        $('#question_form_save').hide();
        $.ajax({
              url: app_question_url + '/api/question',
              type: 'POST',
              data: {
                domain: question_domain,
                email:  $('#questionEmail').val(),
                first_name:  $('#questionFirstName').val(),
                last_name:  $('#questionLastName').val(),
                question_content:  $('#questionContent').val(),
                product:  question_product_id,
              },
              success: function (res) {
                if(res.status == '1') {
                  $('#questionEmail').val('');
                  $('#questionFirstName').val('');
                  $('#questionLastName').val('');
                  $('#questionContent').val('');
                  $('#question_form_save').hide();
                  $('#question_success').show();
                } else {
                  let errors = '<ul><li>Please use Chrome, Firefox, or Safari web browser to complete your registration.</li><li>Please make sure you are not using VPN/Proxy server.</li></ul>';
                  $('.question-info-message').html(errors);
                  $('.question-info').show();
                  $('#question_form_save').show();
                }
              }
          });
        return false;
      });
    });
</script>
<!-- Questions Part Ends Here -->
<script src="https://mpsnare.iesnare.com/snare.js"></script>
<!--  Write a Review Part Start -->
<script>
      var timeoutId;

    function useBlackboxString(intervalCount) {
        if (typeof ioGetBlackbox !== 'function') {
            return;
        }
        var bbData = ioGetBlackbox();
        if (bbData.finished) {
            clearTimeout(timeoutId);
            document.getElementById('ioBlackBox').value = bbData.blackbox;
        }
    }

    timeoutId = setInterval(useBlackboxString, 500);
  
   $(document).ready(function(){
     // var dvlp_app_url = 'https://b615-103-162-136-121.ap.ngrok.io';
     var dvlp_app_url = 'https://201b-103-162-136-121.ngrok-free.app';
     var review_product_id = '{{product.id}}';
      var customerId = '{{ customer.id }}';
    console.log('customer ID',customerId)
         $.get('https://www.cloudflare.com/cdn-cgi/trace', function (data) {
            // Convert key-value pairs to JSON
            // https://stackoverflow.com/a/39284735/452587
            data = data.trim().split('\n').reduce(function (obj, pair) {
                pair = pair.split('=');
                return obj[pair[0]] = pair[1], obj;
            }, {});
            $('.ip_address').val(data.ip);
        });
     
      $('#wholescale--form-write').submit(function(event){
        // console.log($('#reviewFormDescription').val());
        // console.log(review_product_id)
        event.preventDefault();
        $.ajax({
              url: dvlp_app_url + '/api/review-write',
              type: 'POST',
              data: {
                    domain: "{{shop.domain}}",
                    customer: customerId,
                    product: review_product_id,
                    stars: $('#reviewFormStars').val(),
                    title: $('#reviewFormTitle').val(),
                    description: $('#reviewFormDescription').val(),
                    first_name: $('#reviewFormFirstName').val(),
                    last_name: $('#reviewFormLastName').val(),
                    email: $('#reviewFormEmail').val(),
                    black_box: $('#ioBlackBox').val(),
                    ip_address: $('.ip_address').val()
              },
              success: function (res) {
                if(res.status == '1') {
                  $('#reviewFormStars').val('');
                  $('#reviewFormTitle').val('');
                  $('#reviewFormDescription').val('');
                  $('#reviewFormFirstName').val('');
                  $('#reviewFormLastName').val('');
                  $('#reviewFormEmail').val('');
                  $('#review_form_save').hide();
                  $('#write_a_review_success').show();
                } else {
                  let errors = '<ul><li>Please use Chrome, Firefox, or Safari web browser to complete your registration.</li><li>Please make sure you are not using VPN/Proxy server.</li></ul>';
                  $('.review-info-message').html(errors);
                  $('.question-info').show();
                  $('#review_form_save').show();
                }
              }
          });
        return false;
      });
    });

</script>
<!--   Write a Review Part End -->
<script>
var dvlp_app_url = "https://201b-103-162-136-121.ngrok-free.app";
var domain = '{{shop.domain}}';
var product_id = '{{product.id}}';
var page = 1;

function getReviews(url) {
    $('.lds-facebook').show();
    $.ajax({
      headers: {
                "ngrok-skip-browser-warning": "69420",
            },
        url: url,
        type: 'GET',
        success: function (htmlContent) {
            $('.lds-facebook').hide();
            $('#revewsHTML').html(htmlContent.content);
            console.log(htmlContent);
        },
        error: function (error) {
            console.error('Error fetching reviews:', error);
        }
    });
}

var url = `${dvlp_app_url}/api/reviews?domain=${domain}&product_id=${product_id}&page=${page}`;
getReviews(url);
console.log('URL:', url);

    $(document).on('click', '.wholescale-first-page', function () {
        getReviews(first_page_url);
    });

    $(document).on('click', '.wholescale-last-page', function () {
        getReviews(last_page_url);
    });
    $(document).on('click', '.wholescale-prev-page', function () {
        if (prev_page_url !== 'null') {
            getReviews(prev_page_url);
        }
    });

    $(document).on('click', '.wholescale-next-page', function () {
        if (next_page_url !== 'null') {
            getReviews(next_page_url);
        }
    });

    $(document).on('click', '.wholescale-page', function () {
        var page = $(this).attr('data-page');
        var url = dvlp_app_url + "/api/reviews?domain=" + domain + "&product_id=" + product_id + "&page=" + page;
        getReviews(next_page_url);
    });
</script>

<!-- Reviews Count Starts -->
<script>

    //var count_app_url = "https://d8a5-182-185-207-164.ngrok.io";
    var count_app_url = "https://201b-103-162-136-121.ngrok-free.app";
    var count_domain = '{{shop.domain}}';
    var count_product_id = '{{product.id}}';

    function drawCountStars(rating) {
        if (rating == '1') {
            return '';
        }
    }

    function getReviewsCount(url, productId) {
        $.ajax({
            url: url,
            type: 'GET',
            data: {
                domain: domain,
                product_id: productId
            },
            dataType: 'json', // added data type
            success: function (r) {

                if (r.status == '1') {
                    if (r.total_c) {
                        $("#ajaxReviewsHeader").html(r.content);
                    } else {
                        var getHTML = $('#total_reviews_empty').get(0).outerHTML;
                        $('.product-title').after(getHTML);
                        $('.gotoReviews').append(getHTML);
                        //$('#total_reviews_empty').show();
                        $('#total_reviews_empty2').show();
                    }

                } else {


                }
            }
        });
    }

    getReviewsCount(count_app_url + '/api/review-counts?domain=' + count_domain + '&product_id=' + count_product_id);
</script>
<!-- Reviews Count Ends -->
<script>
$('#tabs-nav li:first-child').addClass('active');
$('.tab-content').hide();
$('.tab-content:first').show();

$('#tabs-nav li').click(function(){
  $('#tabs-nav li').removeClass('active');
  $(this).addClass('active');
  $('.tab-content').hide();
  
  var activeTab = $(this).find('a').attr('href');
  $(activeTab).fadeIn();
  return false;
});

$('#wholescale--tabs-nav li:first-child').addClass('active1');
$('.wholescale--tab-content').hide();   

$('#wholescale--tabs-nav li').click(function(){
  $('#wholescale--tabs-nav li').removeClass('active');
  $(this).addClass('active');
  $('.wholescale--tab-content').hide();
  
  var activeTab = $(this).find('a').attr('href');
  $(activeTab).fadeIn();
  return false;
});
</script>
<script>
$(document).ready(function(){
 $('#starsField').addClass('exp');
});
</script>
