
<link rel="stylesheet" media="screen" href="https://cdn.freshbots.ai/assets/share/css/chat-combined.min.css?v=0.26">
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>
<style>
  .ws--review-container {
    margin-top: 10px;
  }
  ul#tabs-nav .active a {
    color: #2b054c !important;
  }
  .fa1 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    font-family: 'FontAwesome' !important;
  }

  .ws--star {
    position: relative;
    display: inline-block;
  }

  .ws--star-under {
    color: #2b054c;
  }

  .ws--star-over {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  .ws--star-visible {
    display: inline-block;
  }
  .ws--review-container > .ws--star-under {
    font-size: 14px;
  }
  .ws--review-container span {
    font-size: 14px;
  }
  .fa {
    font-family: 'FontAwesome' !important;
  }
</style>
{%- assign random_number = 'now' | date: '%N' -%}

{% if product.metafields.whol.average_rating and product.metafields.whol.product_reviews != 0 %}
  <div id="stars_reviews_avg_{{ product.id }}_{{ random_number }}" class="ws--review-container">
    <i class="ws--star ws--star-under fa1 fa-star-o">
      <i class="ws--star ws--star-over fa1 fa-star"></i>
    </i>
    <i class="ws--star ws--star-under fa1 fa-star-o">
      <i class="ws--star ws--star-over fa1 fa-star"></i>
    </i>
    <i class="ws--star ws--star-under fa1 fa-star-o">
      <i class="ws--star ws--star-over fa1 fa-star"></i>
    </i>
    <i class="ws--star ws--star-under fa1 fa-star-o">
      <i class="ws--star ws--star-over fa1 fa-star"></i>
    </i>
    <i class="ws--star ws--star-under fa1 fa-star-o">
      <i class="ws--star ws--star-over fa1 fa-star"></i>
    </i>
    <span
      >&nbsp;<a href="#total_reviews_p"
        >({{ product.metafields.whol.average_rating }}) {{ product.metafields.whol.product_reviews }} Reviews</a
      ></span
    >
  </div>
  <script>
    $(document).ready(function(){
      var rating1 = {{ product.metafields.whol.average_rating }};
      console.log('so for soooo good'+{{ product.metafields.whol.average_rating }});
      var div_id = 'stars_reviews_avg_{{ product.id }}_{{ random_number }}';
      rateStyle(rating1, div_id);
      // javascript
      function rateStyle(num, divID) {
        var ratingRounded = Math.floor(num);
        var starArray = document.getElementById(divID).querySelectorAll(".ws--star-over");
        for (var i = 0; i < ratingRounded; i++) {
          starArray[i].classList.add("ws--star-visible");
        }
        var finalStar = Math.round((num-ratingRounded)*100);
        if (finalStar != 0) {
          starArray[ratingRounded].classList.add("ws--star-visible");
          starArray[ratingRounded].style.width=finalStar+"%";
        }
      }

    });
  </script>
{% else %}
  {% if product.id != 7361405059272
    and product.id != 7401418752200
    and product.id != 7380966408392
    and product.id != 7361423147208
    and product.id != 7183162441928
    and product.id != 7183163326664
    and product.id != 7183164670152
    and product.id != 6163368345800
  %}
    <div class="ws--review-container">
      <i aria-hidden="true" class="ws--star-under fa fa-star-o"></i>
      <i aria-hidden="true" class="ws--star-under fa fa-star-o"></i>
      <i aria-hidden="true" class="ws--star-under fa fa-star-o"></i>
      <i aria-hidden="true" class="ws--star-under fa fa-star-o"></i>
      <i aria-hidden="true" class="ws--star-under fa fa-star-o"></i>
      <span>&nbsp;<a href="javascript:void(0)">0 Reviews</a></span>
    </div>
  {% endif %}
{% endif %}
